* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ece4e9;
    color: #502c56;
    line-height: 1.6em;
    display: grid;
    grid-template-areas:
    'header'
    'content'
    'footer';
    gap: 10px;
}

#header{
    grid-area: header;
}

.createAccount{
    font-family: "Segoe UI Light";
    color: #502c56;
}

#logo{
    float:left ;
    width: 10%;
}

.content {
    position: relative;
    font-family: "Segoe UI Semibold";
    margin-right: 50px;
    text-align: right;
    grid-area: content;
}

.btn{
    display: inline-block;
    color: #ece4e9;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #502c56;
    border-radius: 30px;
    border: none;
    font-family: "Segoe UI Semibold";
    margin-right: 70%;
}

.btn:hover {
    /*transform: rotateZ(360deg);*/
    background-color: #CDA9D3 ;
    color: white;
}
.btn:active {
    /*transform: rotateZ(360deg);*/
    background-color: darkgray ;
    color: #502c56 ;
}
.form{
    display: flex;
    justify-content: right;
    padding: 10px;
}
.form input{
    padding: 8px;
    background-color: #DCC2E0;
    border:none;
    border-radius: 10px;
}
.form label{
    padding: 8px;
    font-family: "Segoe UI Light";
}
#footer{
    grid-area: footer;
    color: #502c56;
    font-family: "Segoe UI Light";
    margin: 20px;
    text-align: center;
}
.error {
    font-weight: bold;
    color: #502c56;
    padding: 3px;
    margin: 3px;
}