* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ece4e9;
    color: #502c56;
    line-height: 1.6em;
    grid-template-areas:
    'header'
    'content'
    'footer';
    gap: 10px;
}
.content {
    position: relative;
    font-family: "Segoe UI Semibold";
    grid-area: content;
    text-align: right;
}
#logo{
    width: 10%;
}

#header {
    position: relative;
    font-family: "Segoe UI Semibold";
    text-align: left;
    grid-area: header;
}

.btn {
    display: inline-block;
    color: #ece4e9;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #502c56;
    border-radius: 30px;
    border: none;
    text-align: left;
    margin-left: 10%;
    font-family: "Segoe UI Semibold";
}

.btn:hover {
    /*transform: rotateZ(360deg);*/
    background-color: #CDA9D3 ;
    color: white;
}

.btn:active {
    /*transform: rotateZ(360deg);*/
    background-color: darkgray ;
    color: #502c56 ;
}


#footer{
    text-align: center;
    grid-area: footer;
    color: #502c56;
    font-family: "Segoe UI Light";
    margin: 10px;
}
.error {
    font-weight: bold;
    color: #502c56;
    padding: 3px;
    margin: 3px;
}