* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ece4e9;
    color: #502c56;
    line-height: 1.6em;
    text-align: center;
}


#header {
    height: 150px;
}

#header h1 {
    margin: 40px;
    font-size: 40px;
    line-height: 1.3;
    position: relative;
    font-family: "Segoe UI Semibold";
}
.left{
    font-family: "Segoe UI Light";
    float: left;
    width: 45%;
    padding: 15px;
    box-sizing: border-box;
    color: #502c56;
}
.center {
    font-family: "Segoe UI Light";
    float: left;
    width: 10%;
    box-sizing: border-box;
    color: #502c56;
}
.right{
    font-family: "Segoe UI Light";
    float: left;
    width: 45%;
    padding: 15px;
    box-sizing: border-box;
    color: #502c56;

}
#logo{
    float:left ;
    width: 10%;
}
@keyframes heading {
    0% {
        top: -50px;
    }
    100% {
        top: 200px;
    }
}

.content {
    position: relative;
    font-family: "Segoe UI Semibold";
    margin: 10px;

}

.btn {
    display: inline-block;
    color: #ece4e9;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #502c56;
    border-radius: 30px;
    margin-top: 10px;
    opacity: 100%;
    font-family: "Segoe UI Semibold";

}

.btn:hover {
    /*transform: rotateZ(360deg);*/
    background-color: #CDA9D3 ;
    color: white;
}

.form{
    padding: 10px;
}
.form input{
    padding: 8px;
    width: 40%;
    background-color: #DCC2E0;
    border-color: #DCC2E0;
    border-radius: 10%;
}
.form label{
    padding: 8px;
    width: 60%;
}
.link{
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    float: right;
}