extends layout
block content
    h1 צור קשר
    div.left
        img(class=contact, src='contact.png')
    div.right
        p.contactText
                b טלפון:
                p 052-6481058
                p noamavi@post.bgu.ac.il
                b :מייל
                b כתובת:
                p בית הסטודנט, קומה 1, חדר 103
