extends layout
script(src='All.js', defer) 
block content
        tr      
        div.content
                h1 צור קשר
                div.left
                        img(src='contact.png')
                div.right
                                b :טלפון
                                p 052-6481058
                                b :מייל
                                p noamavi@post.bgu.ac.il
                                b :כתובת
                                p בית הסטודנט, קומה 1, חדר 103
