extends layout
block content
        script(src='js/All.js', defer) 
        tr      
        div.content
                h1 צור קשר
                div.left
                        img.contact(src='media/contact.JPG')
                div.right
                        p#contactText
                                b :טלפון
                                p 052-6481058
                                b :מייל
                                p noamavi@post.bgu.ac.il
                                b :כתובת
                                p בית הסטודנט, קומה 1, חדר 103
