extends layout
block content
        script(src='js/Product.js', defer) 
        div.content
            h1#createHeadline יצירת פרופיל למוצר או שירות
            br
            div.createProduct
                form(action="/insertNewProduct", method="post", id="block",class="my-form")
                    div.left
                        div.form
                            input(type="image", name="image", id="Image")
                        br
                        div.form
                            label(for="price") מחיר*:
                            input(type="number", min="0", max="10000", name="price", id="Price",required)
                            label(for="price") ש"ח
                        br
                        div.form
                            span #{v8} 
                            label(for="email") :*אימייל
                        br
                        div.form
                            input(type="text" name="address" id="Address",required)
                            label(for="address") :*כתובת
                        br
                        input(type="submit", class="btn", value="צור פרופיל")
                    div.right
                        div.msg
                        div.form
                            input(type="text" name="productName" id="Name",required)
                            label(for="productName") :*שם 
                        br
                        div.form
                            label(for="productType") סוג*:
                            input(type="radio", id="product", name="productType", value="מוצר",required)
                            label(for="product") מוצר
                            input(type="radio", id="service", name="productType", value="שירות",required)
                            label(for="service") שירות
                        br
                        div.form
                            select(type="text", name="category", id="Category",required)
                                option(value="", disabled selected) בחר תת קטגוריה
                                option(value="ביגוד") ביגוד
                                option(value="עיצוב הבית") עיצוב הבית
                                option(value="הובלות") הובלות
                                option(value="אינסטלציה") אינסטלציה
                                option(value="תיקונים") תיקונים 
                                option(value="אחר") אחר
                            label(for="category") :*תת קטגוריה 
                        br
                        div.form
                            input(type="text", name="description", id="Description")
                            label(for="description") :תיאור
            div#back
                a(href="http://localhost:3000/seller")  חזרה
                img.backPic(src="media/back.png")
