extends layout
block content
        script(src='js/Home.js', defer) 
        h1 חפש מוצר או שירות
        br 
        div.search    
                form(action="/findProduct", method="post", class="my-form", id="block") 
                    input(type="submit", class="btn" ,value="חפש" ,name="searchBtn" ,id="searchBtn") 
                    div.form
                        input(type="search", name="search", class="searchLine", placeholder="...הזן את החיפוש שלך כאן", required)