doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='css/cssAll.css')
        script(src='js/LandingPage.js', defer) 
        title Document
    body 
        header
              div.header
                a(href='http://localhost:3000/')
                  img#logo(class=logo, src='media/logo.png')
        div.content
              div
                h1 Welcome to Buy From A Student 
                h2 ?מה תרצה לעשות כאן היום
                tr
              div.left
                      h3 באתי לקנות
                      a.btn(href='http://localhost:3000/home') עבור לאתר
              div.center
                      img(src='media/line.png')
              div.right
                      h3 באתי למכור
                      form(action="/findUser" ,method="get", id="block", class="my-form")
                              div.msg
                                h6 #{v3}
                              div.formLand
                                input(type='email', name='email', id='email',required)
                                label :אימייל 
                              div.formLand
                                input(type='password', name='password', id='password',required)
                                label :סיסמא
                              input#searchbtn.btn(type='submit', value='התחבר')
                      tr
                      a.linkLand(href='http://localhost:3000/createaccount') צור משתמש חדש
        div.footer 
                h4  Noam Avishur - Web BGU&copy; 2023 