doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='cssAll.css')
        script(src='All.js', defer) 
        title Document
    body 
    header#header
        a(href='http://localhost:3000/landingPage')
        img#logo(src='logo.png')
    div
        a(href='seller') שלום, מוכר
        img.backPic(src='user.png')
        br
    nav 
        ul 
            li 
                a(href="http://localhost:3000/home") דף הבית 
            li 
                a(href="http://localhost:3000/about") אודותינו
            li 
                a(href="http://localhost:3000/contact") צור קשר
    block content 
    footer#footer 
        h4  Noam Avishur - Web BGU&copy; 2023 