extends layout
block content
            script(src='js/All.js', defer)
            br
            div#back
            a(href="http://localhost:3000/resaults") חזרה לתוצאות החיפוש
            img.backPic(src="media/back.png")
