extends layout
block content
            <br>
            <div id="back">
            <a href="../views/Results.html">חזרה לתוצאות החיפוש</a>
            <img src="../static/back.png" class="backPic">
