extends layout
script(src='Results.js', defer) 
block content

    <div class="content">
        <div class="results">
            <h1>תוצאות החיפוש</h1>
            <br>
            <form  class="my-form" action="" method="get" id="block">
                <div class="msg"></div>
                <input type="submit" class="btn" value="חפש" name="" id="searchBtn">
                <div class="form">
                    <input type="search" name="search" id="resultLine" placeholder="מה שהמשתמש חיפש">
                </div>
            </form>
            <div id="resultsList">
             
            <div class="sidebar">
                <h4>סינון לפי</h4>
                <h5>סוג</h5>
                <ul>
                    <li class="item">מוצר</li>
                    <li class="item">שירות</li>
                </ul>
                <h5>תת קטגוריה</h5>
                <ul>
                    <li class="item">תת קטגוריה א</li>
                    <li class="item">תת קטגוריה ב</li>
                    <li class="item">תת קטגוריה ג</li>
                </ul>
                <h5>מחיר</h5>
                עד ___ ש"ח
            </div>
        </div>
        <br>
        <h4 class="block">1  |  2  |  3  |  4  |  ...  |  15</h4>
  