<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/cssAll.css">
    <script src="../static/Home.js"></script>
</head>
<body>
    <header id="header">
        <a href="../views/LandingPage.html"><img id="logo" src="../static/logo.png"></a>
        <br>
            <nav>
                <ul>
                    <li>
                        <a href="../views/Home.html">דף הבית</a>
                    </li>
                    <li>
                        <a href="../views/About.html">אודותינו</a>
                    </li>
                    <li>
                        <a href="../views/Contact.html">צור קשר</a>
                    </li>
                </ul>
            </nav>
    </header>
    <br>
    <div class="content">
        <h1>אודותינו</h1>
        <br>
      <p>
        אנו, קבוצת סטודנטים באוניברסיטת בן גוריון החלטנו ליזום פרויקט סטודנטיאלי זה על מנת לאפשר מערכת יחסים
          קלה ונוחה בין סטודנטים המעוניינים לתת שירותים או למכור מוצרים ובין אלו המעוניינים לצרוך אותם.
          לאורך הלימודים יצא לנו להיתקל בסטודנטים מוכשרים רבים אשר מציירים, מפסלים, בונים, כותבים, תופרים
          וסטודנטים נוספים אשר מרימים, מובילים, מתקנים, מרכיבים ומה שלא תרצו
          ולצערנו הפלטפורמה היחידה שלהם לפרסם את היצירה או השירות שלהם היא בפייסבוק.
          אנו יודעים שסטודנטים רבים ישמחו לקנות את המוצרים האלו שהם ממש יצירות אומנות ובמחירים סטודנטיאלים,
          ולכן אנחנו כאן.
          האתר שלנו נותן פלטפורמה נוחה לחיפוש השירות או המוצר שאותו אתם מעוניינים לקנות מסטודנט - ככה שאתם
          רק תצטרכו לבחור מבין המגוון שיש לנו להציע (ויש לנו אחלה פילטרים בשביל זה)
          <br>
          ?אז יאללה, שנחפש
      </p>
    </div>
    <footer id="footer">
          <h4>כל הזכויות שמורות לנעם אבישור 2022</h4>
    </footer>
</body>
</html>