
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CssAll.css">
    <script defer src="../static/LandingPage.js"></script>
</head>
<body>
      <header id="header">
        <a href="../views/LandingPage.html"><img id="logo" src="../static/logo.png"></a>
      </header>
      <div class="content">
          <div id="headlineLand">
                <h1>Welcome to Buy From A Student</h1>
                <br>
                <h2>?מה תרצה לעשות כאן היום</h2>
          </div>
          <br>
          <div class="left">
            <h3>באתי לקנות</h3>
            <a href="../views/Home.html" class="btn">עבור לאתר</a>
          </div>
          <div class="center">
            <img src="../static/line.png">
          </div>
          <div class="right">
            <h3>באתי למכור</h3>
            <form  class="my-form" action="" method="get" id="block">
                <div class="msg"></div>
                <div class="formLand">
                    <input type="email" name="email" id="email">
                    <label>:אימייל </label>
                </div>
                <div class="formLand">
                    <input type="password" name="password" id="password">
                    <label>:סיסמה</label>
                </div>
                    <input type="submit" class="btn" id="searchbtn" value="התחבר" name="">
            </form>
            <br>
            <a href="../views/CreateAccount.html" class="linkLand">צור משתמש חדש</a>
          </div>
      </div>
      <footer id="footer">
          <h4>כל הזכויות שמורות לנעם אבישור 2022</h4>
      </footer>
</body>
</html>