* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ece4e9;
    color: #502c56;
    line-height: 1.6em;
    display: grid;
    grid-template-areas:
    'header'
    'content'
    'footer';
    gap: 10px;
}
li{
    margin: 5%;
    text-align: center;
    list-style-type: none;
    display: inline;
}
nav{
    text-align: center;
    margin: 5%;
    font-family: "Segoe UI Semibold";
}
a{
    text-decoration: none;
    font-family: "Segoe UI Semibold";
    color: #502c56;
}
a:hover{
    color: #CDA9D3;
}
a:active{
    color: darkgrey;
}
#header{
    grid-area: header;
}
#createHeadline{
        margin-left: 55%;
}
.createAccount{
    font-family: "Segoe UI Light";
    color: #502c56;
    margin-left: 60%;
}

#logo{
    display: block;
    float:left ;
    width: 10%;
}

.content {
    position: relative;
    font-family: "Segoe UI Semibold";
    grid-area: content;
    text-align: center;
}

.btn{
    display: inline-block;
    color: #ece4e9;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #502c56;
    border-radius: 30px;
    border: none;
    font-family: "Segoe UI Semibold";
    margin: 10px;
}

.btn:hover {
    /*transform: rotateZ(360deg);*/
    background-color: #CDA9D3 ;
    color: white;
}
.btn:active {
    /*transform: rotateZ(360deg);*/
    background-color: darkgray ;
    color: #502c56 ;
}
.form{
    margin: 10px;
    text-align: center;
    display: inline;
}
.form input{
    margin: 10px;
    padding: 8px;
    background-color: #DCC2E0;
    border:none;
    border-radius: 10px;
    text-align: right;
    color: #502c56;
    font-family: "Segoe UI Light";
}
.form input[type='text']{
    text-align: right;
}
.form input[type='text']:focus{
text-align:left;
}
.form label{
    padding: 8px;
    font-family: "Segoe UI Light";
}

#footer{
    grid-area: footer;
    color: #502c56;
    font-family: "Segoe UI Light";
    margin-top: 5%;
    text-align: center;
}
.error {
    font-weight: bold;
    color: #502c56;
    padding: 3px;
    margin: 3px;
}
#headline{
    text-align: center;
}
.search{
    margin-right: 30%;
}
#searchLine{
    display: inline;
    margin-top: 5%;
    width: 45%;
    border-radius: 10px;
    background-color: #DCC2E0;
    font-family: "Segoe UI Light";
    color: #502c56;
    border: none;
    padding: 10px;
    margin-bottom: 10%;
}
#searchBtn{
    display: inline;
    margin-left: 35%;
}
p{
    width: 45%;
    text-align: center;
    margin-left: 27%;
}

.left{
    font-family: "Segoe UI Light";
    float: left;
    width: 45%;
    padding: 15px;
    box-sizing: border-box;
    color: #502c56;
    text-align: center;
    margin-left: 10%;
}
.center {
    font-family: "Segoe UI Light";
    float: left;
    width: 10%;
    box-sizing: border-box;
    color: #502c56;
}
.right{
    font-family: "Segoe UI Semibold";
    float: left;
    width: 45%;
    padding: 15px;
    box-sizing: border-box;
    color: #502c56;
    font-size: large;
}
#contact{
    height: 320px;
    margin-left: 5%;
}
#contactText{
    margin-left: 40%;
    margin-top: 15%;
}
#Category{
    margin: 10px;
    padding: 8px;
    background-color: #DCC2E0;
    border:none;
    border-radius: 10px;
    text-align: right;
    color: #502c56;
    font-family: "Segoe UI Light";
}
#Image{
    margin: 10px;
    padding: 30px;
    background-color: #DCC2E0;
    border:none;
    border-radius: 10px;
    text-align: right;
    color: #502c56;
    font-family: "Segoe UI Light";
}
#Description{
    padding: 20px;
}
#Price{
    width: 10%;
}
.item{
    display: block;
    text-align: right;
}
#sellerHeadLine{
    margin-left: 46%;
}
.rightSeller{
    width: 40%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.centerSeller{
    width: 50%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    text-align: right;
}
.leftSeller{
    width: 10%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
#createNew{
    margin-left: 10%;
    float: left;
}
#resultLine{
    display: inline;
    width: 45%;
    border-radius: 10px;
    background-color: #DCC2E0;
    font-family: "Segoe UI Light";
    color: #502c56;
    border: none;
    padding: 10px;
}
.results{
    position: relative;
    text-align: right;
    margin-right: 5%;
}
#resultsList{
    width: 85%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    text-align: right;
    display: inline;
}
.sidebar{
    font-family: "Segoe UI Light";
    border-radius: 10px;
    width: 15%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    text-align: right;
    background-color: #DCC2E0;
    display: inline;
}
