* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ece4e9;
    color: #502c56;
    line-height: 1.6em;
    text-align: center;
    display: grid;
    grid-template-areas:
    'header'
    'content'
    'footer';
    gap: 10px;
}


#header {
    grid-area: header;
    height: 150px;
}

.left{
    font-family: "Segoe UI Light";
    float: left;
    width: 45%;
    padding: 15px;
    box-sizing: border-box;
    color: #502c56;
}
.center {
    font-family: "Segoe UI Light";
    float: left;
    width: 10%;
    box-sizing: border-box;
    color: #502c56;
}
.right{
    font-family: "Segoe UI Light";
    float: left;
    width: 45%;
    padding: 15px;
    box-sizing: border-box;
    color: #502c56;
}
#logo{
    float:left ;
    width: 10%;
}

.content {
    position: relative;
    font-family: "Segoe UI Semibold";
    margin: 10px;
    grid-area: content;
}

.btn {
    display: inline-block;
    color: #ece4e9;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #502c56;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    opacity: 100%;
    font-family: "Segoe UI Semibold";
    font-size: medium;

}

.btn:hover {
    /*transform: rotateZ(360deg);*/
    background-color: #CDA9D3 ;
    color: white;
}
.btn:active {
    /*transform: rotateZ(360deg);*/
    background-color: darkgray ;
    color: #502c56 ;
}
.form{
    padding: 10px;
}
.form input{
    padding: 8px;
    width: 40%;
    background-color: #DCC2E0;
    border:none;
    border-radius: 10px;
}
.form label{
    padding: 8px;
    width: 60%;
}
.link{
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    float: right;
    color: #502c56;
}

#footer{
    grid-area: footer;
    color: #502c56;
    font-family: "Segoe UI Light";
    margin: 10px;
}
.error {
    font-weight: bold;
    color: #502c56;
    padding: 3px;
    margin: 3px;
}